<div>
  <.form
    :let={f}
    for={@changeset}
    x-autocomplete="off"
    id="account-edit"
    phx-target={@myself}
    phx-submit="save"
  >
    <p class="ng-modal-form-hint">Enter a new password below.</p>

    <%= render(
      FzHttpWeb.SharedView,
      "password_field.html",
      context: f,
      field: :password,
      autocomplete: "new-password",
      label: "New Password"
    ) %>

    <%= render(
      FzHttpWeb.SharedView,
      "password_field.html",
      context: f,
      field: :password_confirmation,
      autocomplete: "new-password",
      label: "Confirm Password"
    ) %>
  </.form>
</div>
