<div>
  <.form
    :let={f}
    for={@changeset}
    id="account-edit"
    phx-target={@myself}
    phx-submit="save"
    x-autocomplete="off"
  >
    <p class="ng-modal-form-hint">
      Change your email address or set a new password below.
    </p>

    <div class="ng-form-field">
      <%= label(f, :email, "Email", class: "ng-form-label") %>
      <%= text_input(f, :email,
        class: "ng-setting-input #{input_error_class(f, :email)}",
        placeholder: "you@example.com"
      ) %>
      <p class="ng-setting-error"><%= error_tag(f, :email) %></p>
    </div>

    <%= render(
      FzHttpWeb.SharedView,
      "password_field.html",
      context: f,
      field: :password,
      autocomplete: "new-password",
      label: "New Password"
    ) %>

    <%= render(
      FzHttpWeb.SharedView,
      "password_field.html",
      context: f,
      field: :password_confirmation,
      autocomplete: "new-password",
      label: "Confirm Password"
    ) %>
  </.form>
</div>
