<div class="ng-page-header">
  <div class="ng-page-header-inner">
    <div>
      <h1 class="ng-page-title">Client Defaults</h1>
      <p class="ng-page-subtitle">Default values for generating WireGuard client configurations</p>
    </div>
  </div>
</div>

<section class="section is-main-section">
  <%= render(FzHttpWeb.SharedView, "flash.html", assigns) %>

  <%= live_component(
    FzHttpWeb.SettingLive.ClientDefaultsFormComponent,
    subject: @subject,
    remote_ip: @remote_ip,
    changeset: @changeset,
    id: :client_defaults_form_component
  ) %>
</section>
