<div>
  <.form
    :let={f}
    for={@changeset}
    x-autocomplete="off"
    id="user-form"
    phx-target={@myself}
    phx-submit="save"
  >
    <%= if @action == :edit do %>
      <p class="ng-modal-form-hint">Change user email or enter new password below.</p>
    <% end %>

    <div class="ng-field">
      <%= label(f, :email, class: "ng-label") %>
      <%= text_input(f, :email, class: "ng-input #{input_error_class(f, :email)}") %>
      <p class="ng-field-error">
        <%= error_tag(f, :email) %>
      </p>
    </div>

    <%= render(
      FzHttpWeb.SharedView,
      "password_field.html",
      context: f,
      field: :password,
      autocomplete: "new-password",
      label: "New Password"
    ) %>

    <%= render(
      FzHttpWeb.SharedView,
      "password_field.html",
      context: f,
      field: :password_confirmation,
      autocomplete: "new-password",
      label: "New Password Confirmation"
    ) %>
  </.form>
</div>
