<%= live_redirect(
  to: ~p"/notifications",
  title: @title,
  class: "navbar-item has-divider is-desktop-icon-only",
  style: "height: 100%"
) do %>
  <span class="icon" style="position: relative;">
    <%= if @count == 0 do %>
      <i class="mdi mdi-bell-outline ng-bell-icon"></i>
    <% else %>
      <i class="mdi mdi-bell-ring ng-bell-icon--active"></i>
      <span class="ng-notif-count"><%= @count %></span>
    <% end %>
  </span>
<% end %>
