<div class="ng-form-field">
  <%= label(@context, @field, @label, class: "ng-form-label") %>
  <%= password_input(
    @context,
    @field,
    class: "ng-setting-input password #{input_error_class(@context, @field)}",
    id: "#{@field}-field",
    autocomplete: "new-password",
    data_target: "#{@field}-progress",
    phx_hook: "PasswordStrength"
  ) %>
  <p class="ng-setting-error"><%= error_tag(@context, @field) %></p>
  <progress id={"#{@field}-progress"} class="is-hidden ng-password-strength" value="0" max="100">0%</progress>
</div>
