<%= if Phoenix.Flash.get(@flash, :error) do %>
  <div class="ng-auth-alert ng-auth-alert--error">
    <i class="mdi mdi-alert-circle-outline"></i>
    <span><%= Phoenix.Flash.get(@flash, :error) %></span>
  </div>
<% end %>
<%= if Phoenix.Flash.get(@flash, :info) do %>
  <div class="ng-auth-alert ng-auth-alert--info">
    <i class="mdi mdi-check-circle-outline"></i>
    <span><%= Phoenix.Flash.get(@flash, :info) %></span>
  </div>
<% end %>
<%= if Phoenix.Flash.get(@flash, :warning) do %>
  <div class="ng-auth-alert ng-auth-alert--warning">
    <i class="mdi mdi-alert-outline"></i>
    <span><%= Phoenix.Flash.get(@flash, :warning) %></span>
  </div>
<% end %>
<div>
  <%= @inner_content %>
</div>
